body {
    display: flex;
    margin: 0;
    min-height:100vh;
    overflow-x: hidden;
    font-family: "Montserrat", Arial, sans-serif;
}

#sidebar-left {
    display: flex;
    position: fixed;
    overflow: hidden;
    width: 100%;
    height: 100px;
    background-color: #F5F5F5;
    align-self: flex-start;
    align-items: center;
    justify-content: flex-end;
}

#sidebar-left-ul {
    display: flex;
    padding: 0;
    list-style: none;
    align-items: center;
    justify-content: center;
}

.sidebar-left-li {
    margin: auto 13px auto 13px;
    font-weight: 700;
}

.sidebar-left-li.cv {
    margin-left: 2vw;

    font-weight: 500;
}

.sidebar-left-li.active a {
    color: black;
    display:inline-block;
    border-bottom:1px solid black;
    padding-bottom:2px;
}

.sidebar-left-li a {
    color: #939393;
    display: inline-block;
    text-decoration: none;
}

.sidebar-left-li a:hover {
    color: black;
}

.social-networks {
    margin: auto 2vw auto 2vw;
}

.social-networks-image {
    width: 15px;
    height: 15px;

    margin-left: 3px;
    margin-right: 3px;
    opacity: 0.3;
}

.social-networks-image:hover {
    opacity: 0.7;
}

#main {
    display: flex;
    flex-direction: column;
    flex: 1;

    margin-top: 100px;
}

.main-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 95vh;
}

#main-information-box {
    display: flex;
    flex-direction: column;
    width: 65%;
    min-width: 500px;
}

#main-information-box-background-img {
  position: absolute;
  top: 0;
  z-index: -1;
  opacity: 0.2;

  width: 100vw;
  height: auto;

  -webkit-mask-image:-webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,1)), to(rgba(0,0,0,0)));
  mask-image: linear-gradient(to bottom, rgba(0,0,0,1), rgba(0,0,0,0));
}

#main-information-box-picture {
    display: flex;
    justify-content: center;
}

#main-information-box-picture img {
    border-radius: 50%;
    max-width: 200px;
    max-height: 200px;
}

#main-information-box-intro {
    display: flex;
    justify-content: center;
    margin-top: 25px;

    color: #BFBFBF;
    font-size: 24px;
    font-weight: 300;
}

#main-information-box-name {
    display: flex;
    justify-content: center;

    font-family: "Poppins", Arial, sans-serif;
    font-size: 2.5rem;
    font-weight: 700;

    color: rgba(0, 0, 0, 0.8);

    letter-spacing: 1px;
    line-height: 1.5;
}

#main-information-box-description p {
    text-align: center !important;

    font-size: 18px;
    font-weight: 500;

    color: #999999;

    line-height: 1.8;
}

#main-information-box-more {
    display: flex;

    justify-content: center;
}

#main-information-box-more a {
    font-size: 18px;

    text-align: center !important;

    line-height: 1.8;
    text-decoration: none;
    
    color: #b3b3b3;
    
    border-bottom: 2px solid #b3b3b3;
}

.section-container {
    display: flex;
    width: 100%;
    min-height: 100vh;
    flex-direction: column;
 
    align-items: center;
    padding-bottom: 25px;
}   

.section-title {
    margin: 0px;
    padding-top: 120px;
    font-family: "Poppins", Arial, sans-serif;
    font-size: 2.5rem;
    font-weight: 700;

    color: rgba(0, 0, 0, 0.8);

    letter-spacing: 1px;
    line-height: 1.5;

    margin-bottom: 50px;
}

.meumenu-images-container, .campusseguro-images-container, .apponibus-images-container {
    display: flex;

    align-items: center;
}

.meumenu-images, .campusseguro-images, .apponibus-images {
    display: flex;
    justify-content: center;
}

.app-picture {
    box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.3);
    width: 200px;    
}

.app-picture:hover {
    box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.6);
    z-index: 1;
}

.previous-next-button {
    width: 15px;

    padding-left: 10px;
    padding-right: 10px;

    -webkit-filter: opacity(35%);
    filter: opacity(35%);
}

.previous-next-button:hover {
    -webkit-filter: opacity(100%);
    filter: opacity(100%);

    cursor: pointer;
}

.previous-next-image {
    width: 15px;
}

.application-list {
    display: flex;
    width: 100%;
    justify-content: space-around;
}

.application-container {
    display: flex;
    flex-direction: column;

    margin-left: 10px;
    margin-right: 10px;

    width: 275px;    

    align-items: center;
}

.application-container-title {
    display: flex;
    margin-bottom: 15px;

    justify-content: center;
    align-items: center;

    text-align: center !important;
    /* font-family: "Poppins", Arial, sans-serif; */
    font-size: 28px;
    font-weight: 300;

    color: rgba(0, 0, 0, 0.8);

    letter-spacing: 1px;
}

.application-framework-list {
    margin-top: 10px;
    display: flex;
}

.application-framework {
    height: 30px;

    margin: auto 5px auto 5px;
}

.application-container-description {
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    margin-top: 10px;
    padding-top: 10px;

    /* font-family: "Poppins", Arial, sans-serif; */
    font-size: 14px;
    font-weight: 400;

    width: 275px;

    text-align: justify !important;
    line-height: 1.5;
    color: rgba(0, 0, 0, 0.8);
}

.application-big-container {
    display: flex;

    margin-left: 3%;
    margin-right: 3%;
    margin-top: 125px;

    align-self: flex-start;
    align-items: flex-start;
}

.application-big-video {
    width: 40%;
    height: 350px;
    border: none;
    box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.3);
}

.application-big-container-information {
    display: flex;
    flex-direction: column;

    align-items: flex-start;
    margin-left: 25px;

    max-width: 35%;
}

.application-big-container-title {
    display: flex;

    justify-content: center;
    align-items: center;

    text-align: center !important;
    /* font-family: "Poppins", Arial, sans-serif; */
    font-size: 42px;
    font-weight: 300;

    color: rgba(0, 0, 0, 0.8);

    letter-spacing: 1px;
}

.application-big-container-description {
    /* font-family: "Poppins", Arial, sans-serif; */
    font-size: 14px;
    font-weight: 400;

    text-align: justify !important;
    line-height: 1.5;
    color: rgba(0, 0, 0, 0.8);
}

#aboutandcontact {
    display: flex;
    margin-top: 75px;
    margin-left: 3%;
}

.half-section-container {
    display: flex;
    flex: 1;
    min-height: 80vh;
    padding-top: 40px;
    flex-direction: column;
}

.section-title-left {
    margin: 0px;
    font-family: "Poppins", Arial, sans-serif;
    font-size: 2.5rem;
    font-weight: 700;

    color: rgba(0, 0, 0, 0.8);

    letter-spacing: 1px;
    line-height: 1.5;
}

.about-description {
    font-size: 16px;
    font-weight: 400;

    text-align: justify !important;
    line-height: 1.5;
    color: rgba(0, 0, 0, 0.8);

    margin-right: 10%;
}

.detailed-contact-information {
    display: flex;
    flex-direction: column;
    margin-right: 25%;

    justify-content: flex-start;
}

.detailed-contact-information p {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0px;
}

p a {
    color: rgba(0, 0, 0, 0.8);
}